@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom styles */
::selection {
  background-color: #93c5fd;
  color: #1e3a8a;
}

html {
  scroll-behavior: smooth;
}